
@{
    ViewBag.Title = "candidatedetails";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";

    <style>
        .sidebar {display: none;}
        .container {max-width: 65% !important;}
        #main {margin-left: 0px;}
    </style>

}

<div class="wrapper">
    <div class="spacing-top">
        <div class="container">
            <div class="row">

                <div class="col-md-8">

                    <div class="jobleftsection">
                        <div class="civi-jobs-header-top">
                            <div class="civi-header-left">
                                <div class="d-flex spacings">
                                    <div class="info-users">
                                        <img src="~/Areas/Employee/Images/Divyang-career.png" />
                                    </div>
                                    <div class="rating">
                                        <h1>Test1</h1>
                                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                                        <span>0</span> (0 Reviews)
                                    </div>
                                </div>
                                <div class="flexbox">
                                    <div class="follows">
                                        <a href="javascript:;" class="login-form-popup"> <i class="fa fa-plus" aria-hidden="true"></i> Follow  </a>
                                    </div>
                                    <div class="Visittag">
                                        <a href="javascript:;" target="_blank"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save to PDF  </a>
                                    </div>
                                    <div class="Visittag">
                                        <a href="javascript:;" target="_blank"> <i class="fa fa-envira" aria-hidden="true"></i>  Invite  </a>
                                    </div>
                                    <div class="sendmessage">
                                        <a href="javascript:;" class="login-form-popup"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Message  </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="padding-section">
                        <div class="civi-header-left">
                            <div class="civi-header-left">
                                <h3>Disability-Info</h3>
                            </div>
                            <hr />
                            <div class="Descriptions">
                                <h4>UDID</h4>
                                <p>Yes</p>
                            </div>
                            <hr />
                            <div class="Descriptions">
                                <h4>UDID Number</h4>
                                <p>q</p>
                            </div>
                            <hr />
                            <div class="Descriptions">
                                <h4>Upload Disability Certificate</h4>
                                <img src="~/Areas/Employee/Images/Divyang-career.png" />
                            </div>
                            <hr />
                            <div class="Descriptions">
                                <h4>Disability Percentage (As per certificate)</h4>
                            </div>

                        </div>
                    </div>

                    <div class="jobleftsection">
                        <div class="civi-jobs-header-top">
                            <div class="civi-header-left">
                                <h1>Review</h1>
                                <div class=" d-flex">
                                    <div class=" text-center">
                                        <div class="rating">
                                            <abbr><label for="6">☆</label> 0</abbr>
                                            Base on 0 reviews
                                        </div>
                                    </div>
                                </div>



                                <div class="entry-overview">
                                    <div class="rating-bars">
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Working attitude
                                                <div class="tip" data-tip-content="Salary review every 6 months based on the work performance">
                                                    <div class="tip-content">Progressive working attitude</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating-bars-inner">
                                                <span class="rating-bars-rating " data-rating="0">
                                                    <span class="rating-bars-rating-inner" style="width: 0%;"></span>
                                                </span>
                                                <span class="value-rating">0</span>
                                            </div>
                                        </div>
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Team work
                                                <div class="tip" data-tip-content="Company trip once a year and Team building once a month">
                                                    <div class="tip-content">Good teamwork spirit</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating-bars-inner">
                                                <span class="rating-bars-rating " data-rating="0">
                                                    <span class="rating-bars-rating-inner" style="width: 0%;"></span>
                                                </span>
                                                <span class="value-rating">0</span>
                                            </div>
                                        </div>
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Skill & Experience
                                                <div class="tip" data-tip-content="Well trained and dedicated to being able to catch the pace smoothly.">
                                                    <div class="tip-content">Skills and experience meet well</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <span class="rating-bars-inner">
                                                <span class="rating-bars-rating " data-rating="0">
                                                    <span class="rating-bars-rating-inner" style="width: 0%;"></span>
                                                </span>
                                                <span class="value-rating">0</span>
                                            </span>
                                        </div>
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Offered Salary
                                                <div class="tip" data-tip-content="Our office is located with creative, open workspaces and a high-quality engaging environment.">
                                                    <div class="tip-content">Suitable salary</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating-bars-inner">
                                                <span class="rating-bars-rating " data-rating="0">
                                                    <span class="rating-bars-rating-inner" style="width: 0%;"></span>
                                                </span>
                                                <span class="value-rating">0</span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <h2>Write a Review</h2>

                                    <div class="rating-bars">
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Working attitude
                                                <div class="tip" data-tip-content="Salary review every 6 months based on the work performance">
                                                    <div class="tip-content">Progressive working attitude</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating rating2">
                                                <input type="radio" name="rating6" value="6" id="6"><label for="6">☆</label>
                                                <input type="radio" name="rating7" value="7" id="7"><label for="7">☆</label>
                                                <input type="radio" name="rating8" value="8" id="8"><label for="8">☆</label>
                                                <input type="radio" name="rating9" value="9" id="9"><label for="9">☆</label>
                                                <input type="radio" name="rating10" value="10" id="10"><label for="10">☆</label>
                                            </div>
                                        </div>
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Team work
                                                <div class="tip" data-tip-content="Company trip once a year and Team building once a month">
                                                    <div class="tip-content">Good teamwork spirit</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating rating2">
                                                <input type="radio" name="rating11" value="11" id="11"><label for="11">☆</label>
                                                <input type="radio" name="rating12" value="12" id="12"><label for="12">☆</label>
                                                <input type="radio" name="rating13" value="13" id="13"><label for="13">☆</label>
                                                <input type="radio" name="rating14" value="14" id="14"><label for="14">☆</label>
                                                <input type="radio" name="rating15" value="15" id="15"><label for="15">☆</label>
                                            </div>
                                        </div>
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Skill & Experience
                                                <div class="tip" data-tip-content="Well trained and dedicated to being able to catch the pace smoothly.">
                                                    <div class="tip-content">Skills and experience meet well</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating rating2">
                                                <input type="radio" name="rating16" value="16" id="16"><label for="16">☆</label>
                                                <input type="radio" name="rating17" value="17" id="17"><label for="17">☆</label>
                                                <input type="radio" name="rating18" value="18" id="18"><label for="18">☆</label>
                                                <input type="radio" name="rating19" value="19" id="19"><label for="19">☆</label>
                                                <input type="radio" name="rating20" value="20" id="20"><label for="20">☆</label>
                                            </div>
                                        </div>
                                        <div class="rating-bars-item">
                                            <div class="rating-bars-name">
                                                Offered Salary
                                                <div class="tip" data-tip-content="Our office is located with creative, open workspaces and a high-quality engaging environment.">
                                                    <div class="tip-content">Suitable salary</div>
                                                    <i class="fa fa-info" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="rating rating2">
                                                <input type="radio" name="rating21" value="12" id="21"><label for="21">☆</label>
                                                <input type="radio" name="rating22" value="22" id="22"><label for="22">☆</label>
                                                <input type="radio" name="rating23" value="23" id="23"><label for="23">☆</label>
                                                <input type="radio" name="rating24" value="24" id="24"><label for="24">☆</label>
                                                <input type="radio" name="rating25" value="25" id="25"><label for="25">☆</label>
                                            </div>
                                        </div>
                                    </div>


                                    <textarea class="form-control" name="message" placeholder="Your review..."></textarea>

                                    <button type="submit"><span>Submit Review</span></button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="detailsright">
                        <h4><a href="javascript:;">Information</a></h4>

                        <div class="overviewsection">

                            <h5>Phone</h5>
                            <span><a href="tel:8700560904">+918700560904</a></span>

                            <h5>Email</h5>
                            <a href="mailto:sugam.v2infotech@gmail.com"> sugam.v2infotech@gmail.com </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

