
@{
    ViewBag.Title = "employersjobdetails";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="lightbgcolor">
    <div class="middlewrapper">
        <a href="#" class="btn-close"></a>

        <div class="login-section">
            <div class="login-tabs">
                <h5>Zoom Settings</h5>
            </div>

            <div id="tab-01" class="tab-content current">
                <div class="tablogins">
                    <div class="login-form">
                        <h4>Personal Link *</h4>
                        <input type="email" placeholder="aman123">
                    </div>
                    <div class="login-form">
                        <h4>Password</h4>
                        <input id="password-field" type="password" class="form-control" name="password">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>

                    <div class="login-form" style="text-align:center; margin:0 auto;">
                        <button type="submit" class="Canclebutton" value="Sign in">Cancle</button>
                        <button type="submit" class="savedbutton" value="Sign in">Saved settings</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="wrapper">

    <h1>Meetings</h1>

    <div class="spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="tabs-header">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Upcoming</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Completed</button>
                        </div>
                        <div class="ZoomSettings">
                            <span>Zoom Settings</span>
                        </div>
                    </div>

                    <div class="tab-content tab-contents" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="tables">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">TITLE</th>
                                            <th width="14%">APPLICANTS</th>
                                            <th width="12%">STATUS</th>
                                            <th width="13%">POSTED</th>
                                            <th width="13%">EXPIRED</th>
                                            <th width="18%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3 class="title-jobs-dashboard">
                                                    <a href="javascript:;">
                                                        dfd
                                                    </a>
                                                </h3>
                                                <p>Blood Disorder / Private</p>
                                            </td>
                                            <td>
                                                <span>1</span>
                                                <a href="javascript:;" class="Application">Application</a>
                                            </td>
                                            <td><span class="label-pause">Pause</span></td>
                                            <td>
                                                <span class="start-time">13/08/2024</span>
                                            </td>
                                            <td>
                                                <span class="expires-time">
                                                    12/09/2024
                                                </span>
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn-edit" href="javascript:;"> Edit </a>
                                                <a class="Continue" href="javascript:;"> Continue </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3 class="title-jobs-dashboard">
                                                    <a href="javascript:;">
                                                        dfd
                                                    </a>
                                                </h3>
                                                <p>Blood Disorder / Private</p>
                                            </td>
                                            <td>
                                                <span>1</span>
                                                <a href="javascript:;" class="Application">Application</a>
                                            </td>
                                            <td><span class="label-pause">Pause</span></td>
                                            <td>
                                                <span class="start-time">13/08/2024</span>
                                            </td>
                                            <td>
                                                <span class="expires-time">
                                                    12/09/2024
                                                </span>
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn-edit" href="javascript:;"> Edit </a>
                                                <a class="Continue" href="javascript:;"> Continue </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3 class="title-jobs-dashboard">
                                                    <a href="javascript:;">
                                                        dfd
                                                    </a>
                                                </h3>
                                                <p>Blood Disorder / Private</p>
                                            </td>
                                            <td>
                                                <span>1</span>
                                                <a href="javascript:;" class="Application">Application</a>
                                            </td>
                                            <td><span class="label-pause">Pause</span></td>
                                            <td>
                                                <span class="start-time">13/08/2024</span>
                                            </td>
                                            <td>
                                                <span class="expires-time">
                                                    12/09/2024
                                                </span>
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn-edit" href="javascript:;"> Edit </a>
                                                <a class="Continue" href="javascript:;"> Continue </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="tables">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">TITLE</th>
                                            <th width="14%">APPLICANTS</th>
                                            <th width="12%">STATUS</th>
                                            <th width="13%">POSTED</th>
                                            <th width="13%">EXPIRED</th>
                                            <th width="18%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3 class="title-jobs-dashboard">
                                                    <a href="javascript:;">
                                                        dfd
                                                    </a>
                                                </h3>
                                                <p>Blood Disorder / Private</p>
                                            </td>
                                            <td>
                                                <span>1</span>
                                                <a href="javascript:;" class="Application">Application</a>
                                            </td>
                                            <td><span class="label-pause">Pause</span></td>
                                            <td>
                                                <span class="start-time">13/08/2024</span>
                                            </td>
                                            <td>
                                                <span class="expires-time">
                                                    12/09/2024
                                                </span>
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn-edit" href="javascript:;"> Edit </a>
                                                <a class="Continue" href="javascript:;"> Continue </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3 class="title-jobs-dashboard">
                                                    <a href="javascript:;">
                                                        dfd
                                                    </a>
                                                </h3>
                                                <p>Blood Disorder / Private</p>
                                            </td>
                                            <td>
                                                <span>1</span>
                                                <a href="javascript:;" class="Application">Application</a>
                                            </td>
                                            <td><span class="label-pause">Pause</span></td>
                                            <td>
                                                <span class="start-time">13/08/2024</span>
                                            </td>
                                            <td>
                                                <span class="expires-time">
                                                    12/09/2024
                                                </span>
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn-edit" href="javascript:;"> Edit </a>
                                                <a class="Continue" href="javascript:;"> Continue </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3 class="title-jobs-dashboard">
                                                    <a href="javascript:;">
                                                        dfd
                                                    </a>
                                                </h3>
                                                <p>Blood Disorder / Private</p>
                                            </td>
                                            <td>
                                                <span>1</span>
                                                <a href="javascript:;" class="Application">Application</a>
                                            </td>
                                            <td><span class="label-pause">Pause</span></td>
                                            <td>
                                                <span class="start-time">13/08/2024</span>
                                            </td>
                                            <td>
                                                <span class="expires-time">
                                                    12/09/2024
                                                </span>
                                            </td>
                                            <td style="text-align:right;">
                                                <a class="btn-edit" href="javascript:;"> Edit </a>
                                                <a class="Continue" href="javascript:;"> Continue </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

