
@{
    ViewBag.Title = "SchemesDetails";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="blog-detail-banner">
    <img src="/images/blog1.jpg" class="img-responsive" alt="blog-banner" />
</section>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-detail-text">
                <a href="Schemes">Schemes</a>
                <h1>Empowering Lives: A Comprehensive Overview of the National Social Assistance Programme (NSAP)</h1>
                <ul class="editor">
                    <li>by <a href="javascript:;">Editor</a></li>
                    <li>01/04/2024</li>
                    <li>0 Comments</li>
                </ul>
                <p>Here are our best remote work tips and best practices so you can get the most out of your days and do your best work from home.</p>

                <img src="~/Images/blog-details1.jpg" class="w-100" alt="blog" />

                <p>Before March 2020, working from home was still perceived as a questionable choice for anyone wanting to get ahead, especially if you’re just starting out in your career. Working from home was considered a coveted privilege, reserved for employees with longer tenure. Even then, such a concession was usually reserved for Fridays.</p>
                <p>It took the COVID pandemic to break this stigma. There is no contradiction between working from home and nurturing your long-term career ambitions. In March 2020, billions of workers were thrown into a completely new way of working, kickstarting the largest cultural shift in how we work since the industrial revolution. Within just three weeks, the percentage of U.S. employees working from home doubled from 31% to 62%. Today, 97.6% of workers would like to work remotely forever after this pandemic is over and 1 in 2 US employees won’t return to jobs that don’t offer remote work.</p>

                <div class="row">
                    <div class="col-4 col-md-4">
                        <img src="~/Images/blog-details2.jpg" class="w-100" alt="blog" />
                    </div>
                    <div class="col-4 col-md-4">
                        <img src="~/Images/blog-details3.jpg" class="w-100" alt="blog" />
                    </div>
                    <div class="col-4 col-md-4">
                        <img src="~/Images/blog-details4.jpg" class="w-100" alt="blog" />
                    </div>
                </div>

                <div class="post-tags">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    <div class="entry-tag list-item">
                        <a href="https://divyangcareer.com/tag/skill/">Skill</a>
                        <a href="https://divyangcareer.com/tag/topic/">Topic</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <h3 class="related-atricle">Related Articles</h3>
                <div class="col-md-4">
                    <a href="javascript:;">
                        <div class="blog-1 blog-11">
                            <img src="/images/schemes2.jpg" class="img-responsive borderimg" alt="blog" />
                            <div class="centered">
                                <a class="bc1" href="javascript:;">Schemes</a>
                                <a href="javascript:;"><h5>Transforming Lives: Unveiling the Assistance to Disabled Persons for Purchase/ Fitting of Aids and Appliances (ADIP) Government Scheme</h5></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="javascript:;">
                        <div class="blog-1 blog-11">
                            <img src="/images/schemes3.jpg" class="img-responsive borderimg" alt="blog" />
                            <div class="centered">
                                <a class="bc1" href="javascript:;">Schemes</a>
                                <a href="javascript:;"><h5>Empowering Lives: A Comprehensive Exploration of the Deendayal Disabled Rehabilitation Scheme (DDRS)</h5></a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="javascript:;">
                        <div class="blog-1 blog-11">
                            <img src="/images/schemes4.jpg" class="img-responsive borderimg" alt="blog" />
                            <div class="centered">
                                <a class="bc1" href="javascript:;">Schemes</a>
                                <a href="javascript:;"><h5>Paving the Way to Inclusivity: The Accessible India Campaign (Sugamya Bharat Abhiyan)</h5></a>
                            </div>
                        </div>
                    </a>
                </div>
                <hr />

                <div class="put-message">
                    <h5>Leave your thought here</h5>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <div class="row justify-content-center">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="borderform" placeholder="Comments" name="your-message" rows="7" required></textarea>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="nameinput" placeholder="Name" name="your-name" required>
                                </div>

                                <div class="col-md-6">
                                    <input type="email" class="emailinput" placeholder="Email" name="your-email" required>
                                </div>

                                <input type="checkbox" id="weekday-2" name="weekday-2" value="Saturday">
                                <label for="weekday-2" class="weekday">Save my name, email, and website in this browser for the next time I comment.</label>
                                <button type="submit" class="btnsubmit">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-newsec newblog">
                <div class="search-wrapper">
                    <input type="text" class="search" placeholder="">
                    <button class="search-button">Search</button>
                </div>
                <div class="category">
                    <h4>Category</h4>
                    <p><a href="Blogs">Blog</a></p>
                    <p><a href="Schemes">Schemes</a></p>

                </div>
                <div class="category">
                    <h4>Tags</h4>
                    <span><a href="javascript:;">Skill</a></span>
                    <span><a href="javascript:;">Topic</a></span>
                </div>
                <div class="category2">
                    <h4>Recent Posts</h4>
                    <p><a href="javascript:;">Empowering Lives: A Comprehensive Overview of the National Social Assistance Programme (NSAP)</a></p>
                    <p><a href="javascript:;">Guide on Central Government Schemes for benefit of people with disabilities in India</a></p>
                    <p><a href="javascript:;">Transforming Lives: Unveiling the Assistance to Disabled Persons for Purchase/ Fitting of Aids and Appliances (ADIP) Government Scheme</a></p>
                    <p><a href="javascript:;">Empowering Lives: A Comprehensive Exploration of the Deendayal Disabled Rehabilitation Scheme (DDRS)</a></p>
                    <p><a href="javascript:;">Best 10 Tools to Help People with Disabilities in India</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

