
@{
    ViewBag.Title = "JobsDetails";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jobleftsection">
                    <img src="~/Images/jobDetailsBanner.jpg" class="w-100" alt="banner" />

                    <div class="civi-jobs-header-top">
                        <div class="civi-header-left">
                            <h1>PRP Writer Analyst – Bengali Speakers</h1>
                            <p>By <a href="javascript:;" class="colorblak">TELUS International AI</a> in <a href="jobs">TELUS International AI</a> <i class="fa fa-fw fa-eye"></i>  32 (views)</p>
                        </div>
                        <div class="civi-header-right">
                            <div class="toggle-social">
                                <span class="tooltip"><span class="tooltipText fb">Share</span></span>

                                <div class="share-wrapper">
                                    <i class="fa fa-share-alt share"></i>
                                    <ul class="social">
                                        <li class="facebook"><a href="javascript:;" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="javascript:;" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin"><a href="javascript:;" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="pinterest"><a href="javascript:;" target="_blank" title="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li class="tumblr"><a href="javascript:;" target="_blank" title="tumblr"><i class="fa fa-tumblr"></i></a></li>
                                        <li class="whatsapp"><a href="javascript:;" target="_blank" title="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="logged-out">
                                <abbr class="jobs-archive-header login-form-popup"><span class="tooltip"><span class="tooltipText fb">Wishlist</span><img src="images/heart.png" alt=""></span></abbr>
                            </div>

                        </div>
                    </div>

                    <div class="civi-jobs-header-bottom">
                        <div class="left">
                            <a class="label label-location" href="jobs">
                                Mumbai
                            </a>
                            <a class="label label-type" href="jobs">
                                Private
                            </a>
                        </div>
                    </div>

                    <div class="civi-jobs-header-tops">
                        <div class="civi-header-left">
                            <h2>Job role insights</h2>
                        </div>
                        <div class="civi-header-rights">
                            <div class="info">
                                <div class="icon-jobs">
                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 18.8999L13.95 13.9499C14.9289 12.9709 15.5955 11.7236 15.8656 10.3658C16.1356 9.00795 15.9969 7.60052 15.4671 6.32148C14.9373 5.04244 14.04 3.94923 12.8889 3.18009C11.7378 2.41095 10.3844 2.00043 9 2.00043C7.61557 2.00043 6.26222 2.41095 5.11109 3.18009C3.95996 3.94923 3.06275 5.04244 2.53292 6.32148C2.00308 7.60052 1.86442 9.00795 2.13445 10.3658C2.40449 11.7236 3.07111 12.9709 4.05 13.9499L9 18.8999ZM9 21.7279L2.636 15.3639C1.37734 14.1052 0.520187 12.5016 0.172928 10.7558C-0.17433 9.00995 0.00390685 7.20035 0.685099 5.55582C1.36629 3.91129 2.51984 2.50569 3.99988 1.51677C5.47992 0.527838 7.21998 0 9 0C10.78 0 12.5201 0.527838 14.0001 1.51677C15.4802 2.50569 16.6337 3.91129 17.3149 5.55582C17.9961 7.20035 18.1743 9.00995 17.8271 10.7558C17.4798 12.5016 16.6227 14.1052 15.364 15.3639L9 21.7279V21.7279ZM9 10.9999C9.53044 10.9999 10.0391 10.7892 10.4142 10.4141C10.7893 10.0391 11 9.53035 11 8.99992C11 8.46949 10.7893 7.96078 10.4142 7.58571C10.0391 7.21064 9.53044 6.99992 9 6.99992C8.46957 6.99992 7.96086 7.21064 7.58579 7.58571C7.21072 7.96078 7 8.46949 7 8.99992C7 9.53035 7.21072 10.0391 7.58579 10.4141C7.96086 10.7892 8.46957 10.9999 9 10.9999ZM9 12.9999C7.93914 12.9999 6.92172 12.5785 6.17158 11.8283C5.42143 11.0782 5 10.0608 5 8.99992C5 7.93906 5.42143 6.92164 6.17158 6.17149C6.92172 5.42135 7.93914 4.99992 9 4.99992C10.0609 4.99992 11.0783 5.42135 11.8284 6.17149C12.5786 6.92164 13 7.93906 13 8.99992C13 10.0608 12.5786 11.0782 11.8284 11.8283C11.0783 12.5785 10.0609 12.9999 9 12.9999Z" fill="#007456"></path>
                                    </svg>
                                </div>
                                <div class="infotext">
                                    <h4>Hiring location</h4>
                                    <p>Mumbai</p>
                                </div>
                            </div>
                            <div class="info">
                                <div class="icon-jobs">
                                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.00009 6.5L10.1161 11.588L15.6081 12.028L11.4241 15.612L12.7021 20.972L8.00009 18.1L3.29809 20.972L4.57609 15.612L0.39209 12.028L5.88409 11.588L8.00009 6.5ZM8.00009 11.707L7.26109 13.484L5.34509 13.637L6.80509 14.888L6.35809 16.759L8.00009 15.756L9.64109 16.759L9.19509 14.889L10.6541 13.637L8.73909 13.484L8.00009 11.707ZM4.00009 0V9H2.00009V0H4.00009ZM14.0001 0V9H12.0001V0H14.0001ZM9.00009 0V5H7.00009V0H9.00009Z" fill="#007456"></path>
                                    </svg>
                                </div>
                                <div class="infotext">
                                    <h4>Qualification</h4>
                                    <p>Degree</p>
                                </div>
                            </div>
                            <div class="info">
                                <div class="icon-jobs">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 2V16.721C20.0001 16.818 19.972 16.913 19.9191 16.9943C19.8662 17.0756 19.7908 17.1398 19.702 17.179L11 21.03L2.298 17.18C2.20894 17.1407 2.13329 17.0762 2.08035 16.9945C2.02742 16.9128 1.99949 16.8174 2 16.72V2H0V0H22V2H20ZM4 2V15.745L11 18.845L18 15.745V2H4ZM7 6H15V8H7V6ZM7 10H15V12H7V10Z" fill="#007456"></path>
                                    </svg>
                                </div>
                                <div class="infotext">
                                    <h4>Experience</h4>
                                    <p>1 - 2 Years</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="civi-jobs-header-tops">
                        <div class="civi-header-left">
                            <h3>Description</h3>
                        </div>

                        <div class="Descriptions">
                            <p>TELUS International is seeking Writers, Reviewers, and Evaluators with Bengali and English speaking fluency and domain expertise across a range of subject matter domains to assist in the development of AI technologies.</p>

                            <h5>Role Responsibilities:</h5>

                            <ul>
                                <li>Research, create, and edit short-form written content (examples are short blog posts, emails, brief essays, story synopses, summaries, cover letters, etc.) while adhering to factual accuracy and style guidelines for voice and creativity</li>
                                <li>Analyze and evaluate short-form written content for factual accuracy and adherence to style guidelines</li>
                            </ul>

                            <h5>Required Experience, Skills & Competencies:</h5>

                            <ul>
                                <li>Minimum C1 proficiency in Bengali and English</li>
                                <li>Excellent writing skills, as evidenced by writing samples, work history, and academic coursework</li>
                                <li>Must have at least 1+ year of experience in Technical/Content Writing</li>
                                <li>Bachelor’s degree and / or relevant experience, with certification or graduate degrees preferred in selected subject matter domains</li>
                                <li>High level of creativity, logic, and reasoning skills</li>
                                <li><b>Subject matter expertise</b> in one or more domains or fields of study (popular culture, social sciences, STEM and professional services)</li>
                            </ul>

                            <p><i>Popular Culture:</i> Beauty, Fitness, Pop Music, Entertainment, Sports, Current Events, Travel, etc.</p>
                            <p><i>Social Sciences:</i> Fine Arts, History, Anthropology, Political Science, Sociology, Education, etc.</p>

                            <p><i>STEM+:</i> Biology, Chemistry, Physics, Mathematics, Statistics, etc.</p>
                            <p><i>Professional Services:</i> Healthcare, Law, Finance, Software Engineering, etc.</p>

                            <ul>
                                <li>Able to work independently and with a low level of supervision</li>
                                <li>Attention to detail and strong communication skills</li>
                            </ul>

                            <p><b>Job Type:</b> Full-time</p>
                            <p><b>Location:</b> On-site</p>
                            <p><b>Schedule:</b> Monday to Friday business hours</p>

                            <p>If you are interested, please complete this brief registration and upload your resume or CV.</p>
                            <p>We’ll review your qualifications and get back to you with further details and next steps.</p>
                            <p>*All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability, or protected veteran status</p>

                        </div>

                    </div>

                    <hr />

                    <div class="civi-jobs-header-tops">
                        <div class="civi-header-left">
                            <h4>Photos</h4>
                        </div>
                        <div class="object-fit">
                            <img src="~/Images/ai-community.jpg" alt="ai-community" />
                        </div>
                    </div>


                </div>

                <div class="jobs-apply-details">
                    <div class="info-apply">
                        <h4>Interested in this job?</h4>
                        <p><span> 29 </span>days left to apply</p>
                    </div>
                    <div class="accountlogged-out">
                        <a href="#popup-form" class="login-form-popup">Apply now</a>
                    </div>
                </div>

            </div>


            <div class="col-md-4">
                <div class="jobs-apply-detailstop">
                    <div class="info-apply">
                        <h4>Interested in this job?</h4>
                        <p><span> 29 </span>days left to apply</p>
                    </div>
                    <div class="accountlogged-out">
                        <a href="#popup-form" class="login-form-popup">Apply now</a>
                    </div>
                </div>

                <div class="detailsright">
                    <h4><a href="javascript:;">TELUS International AI</a></h4>
                    <h6>View company profile</h6>


                    <ul class="login-tabss">
                        <li id="tabslogins1" class="tab-link currents" data-tabs="tab-11">Overview</li>
                        <li id="tabslogins2" class="tab-link" data-tabs="tab-22">Jobs <span>6</span></li>
                    </ul>

                    <div id="tab-11" class="tab-contentss currents">
                        <div class="overviewsection">
                            <p>TELUS International AI Data Solutions partners with a diverse and vibrant community to help our customers enhance their AI and machine learning models. The work…</p>

                            <h5>Categories</h5>
                            <b>IT / ITES</b>

                            <h5>Company size</h5>
                            <span>400-500</span>

                            <h5>Founded in</h5>
                            <span>2010</span>

                            <h5>Phone</h5>
                            <span>+9****</span>

                            <h5>Email</h5>

                            <a href="mailto:glenard.merlan@telusinternational.com"> glenard.merlan@telusinternational.com </a>

                            <div class="Visittag">
                                <a href="https://www.telusinternational.com/" target="_blank"> Visit www.telusinternational.com <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                            </div>

                            <div class="sendmessage">
                                <a href="javascript:;" class="login-form-popup"> Send message <i class="fa fa-paper-plane" aria-hidden="true"></i> </a>
                            </div>

                            <div class="login-form">
                                <div class="google-login">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="tab-22" class="tab-contentss">

                        <div class="Overviewtext">
                            <h4><a href="JobsDetails"> PRP Writer Analyst – Bengali Speakers</a></h4>
                            <span><a href="jobs"> Multiple Disabilities </a></span>
                        </div>

                        <div class="Overviewtext">
                            <h4><a href="JobsDetails"> Work at Home Internet Rater – Bengali Speakers </a></h4>
                            <span><a href="jobs"> Physical Disability </a></span>
                        </div>

                        <div class="Overviewtext">
                            <h4><a href="JobsDetails"> Work from Home Internet Rater – Odia Speakers </a></h4>
                            <span><a href="jobs"> Physical Disability </a></span>
                        </div>

                        <div class="Overviewtext">
                            <h4><a href="JobsDetails"> Remote Media Search Analyst – English Speakers </a></h4>
                            <span><a href="jobs"> Physical Disability </a></span>
                        </div>

                        <div class="Overviewtext">
                            <h4><a href="JobsDetails"> Freelance Internet Rater – Punjabi Speakers </a></h4>
                            <span><a href="jobs"> Physical Disability </a></span>
                        </div>

                        <div class="sendmessage">
                            <a href="Jobs"> View all jobs </a>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

