
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

    <style>
        .accordion-item {margin:0px 0px 10px 0px;}
        .accordion-body{padding:0px;}
        .accordion-button{padding:10px 0px;}
        .faq-section .accordion-button h5{color:#000;}
        .accordion-body {color:#333;}
        .accordion-body a{color:#333;}
        .accordion-button:before {top:22px;}
        .accordion-button.collapsed:after{top:15px;}

    </style>

}

<div class="faqbg">
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <section class="faq-section py-3">

                    <div class="heading-job">
                        <span>FAQ'S</span>
                        <h2>Any questions? We're here to help</h2>
                    </div>

                    <div class="tabs">
                        <span class="faqtab faqtab1 active">Assistance to Disabled Persons(ADIP)</span>
                        <span class="faqtab faqtab2">UDID card</span>
                    </div>

                    <div class="w-lg-50 mx-auto tabs1">
                        <div class="accordion accordion-flush" id="accordionExample1">
                            <!-- 1: coll1 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#coll1" aria-expanded="true" aria-controls="coll1">
                                        <h5>What is Scheme of Assistance to Disabled Persons for Purchase/Fitting of Aids/Appliances ADIP scheme and how it is helping empowering Divyangjan?</h5>
                                    </button>
                                </h2>
                                <div id="coll1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        Under the ADIP Scheme, assistive devices are given to PwDs with the aim to improve their independent functioning and to arrest the extent of disability and occurrence of secondary disability. The scheme also envisages conduct of corrective surgery whenever required before providing an assistive device. Detailed scheme can be downloaded from download section on the homepage.
                                    </div>
                                </div>
                            </div>

                            <!-- 2: coll2 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll2" aria-expanded="false" aria-controls="coll2">
                                        <h5> Who are eligible for getting benefit under the ADIP Scheme?</h5>
                                    </button>
                                </h2>
                                <div id="coll2" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <b>A person with disabilities fulfilling the following conditions would be eligible for assistance under ADIP Scheme.</b>

                                        <ul class="list-style-type-square">
                                            <li>1. An Indian Citizen of any age.</li>
                                            <li>2. Holds a 40% and above Disability Certificate (Benchmark disability).</li>
                                            <li>3. Having monthly income from all sources not exceeding Rs.30,000/- per month.</li>
                                            <li>
                                                4. In case of dependents, the income of parents/guardians not exceeding Rs. 30,000/- per month.The amount of assistance will be as

                                                <p>follows:-</p>

                                                <ul class="list-style-type-square-none">
                                                    <li>Total Income</li>
                                                    <li>Amount of Assistance</li>
                                                    <li>Upto Rs. 22,500/- per month</li>
                                                    <li>Full cost of aid/appliance</li>
                                                    <li>Rs.22,501/- to Rs. 30,000/- per month</li>
                                                    <li>50% of the cost of aid/appliance</li>
                                                </ul>

                                            </li>
                                            <li>5. Not having received assistance during the last 3 years for the same purpose from any source. However, for children below 12 years of age, the minimum time of assistance is one year.</li>
                                        </ul>


                                    </div>
                                </div>
                            </div>

                            <!-- 3: coll3 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll3" aria-expanded="false" aria-controls="coll3">
                                        <h5> What are the documents required ?</h5>
                                    </button>
                                </h2>
                                <div id="coll3" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. Passport Size Photographs.</li>
                                            <li>2. A copy of the disability certificate.</li>
                                            <li>3. Address proof (copy of Aadhaar Card or/ Voter Id Card or/ Ration Card etc.)</li>
                                            <li>4. A copy of Income Certificate.</li>
                                            <li>5. An undertaking that he/she has not received the same aids & assistive devices from any source during the last three years.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 4: coll4 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll4" aria-expanded="false" aria-controls="coll4">
                                        <h5> Who is the competent Authority to issue Income Certificate for getting benefit under the ADIP Scheme ?</h5>
                                    </button>
                                </h2>
                                <div id="coll4" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. Revenue Agencies or BPL Card or MGNREGA Card</li>
                                            <li>2. Disability Pension Card.</li>
                                            <li>3. Certificate by M.P./MLA/Councilor/Gram Pradhan</li>
                                            <li>4. Notarized Affidavit C/o Implementing Agencies</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 5: coll5 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll5" aria-expanded="false" aria-controls="coll5">
                                        <h5>Whether children with intellectual disability/ developmental delay below the age of 6 years are eligible for getting benefit under the Scheme?</h5>
                                    </button>
                                </h2>
                                <div id="coll5" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <strong>Yes.</strong> Temporary Disability Certificate issued by the Competent Medical Authority for Children up to the age of 6 years or Developmental Delay Certificate issued by Competent Medical Authority for children up to the age of 6 years is considered for distribution of TLM Kits under the ADIP Scheme. However, there is no dilution of the condition of minimum 40% disability.
                                    </div>
                                </div>
                            </div>

                            <!-- 6: coll6 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll6" aria-expanded="false" aria-controls="coll6">
                                        <h5>Who is eligible for getting motorized tricycle/motorized wheelchair under ADIP Scheme?</h5>
                                    </button>
                                </h2>
                                <div id="coll6" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. Motorized tricycles and Motorized wheelchairs for persons with severe locomotor disability, Stroke, Cerebral Palsy, Hemiplegia and any other person with similar conditions, where either three/four limbs or one half of the body are severely impaired. Disability should be 80% or more.</li>
                                            <li>2. Age 16 yrs or above, provided once in 5 years.</li>
                                            <li>3. Extent of subsidy shall be upto Rs.50,000/-</li>
                                            <li>4. Monthly income of self/guardian from all sources should not exceed Rs. 22500/- for 100% subsidy.</li>
                                            <li>5. Monthly income of self/guardian from all sources should not exceed Rs. 30000/- for 50% subsidy.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 7: coll7 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll7" aria-expanded="false" aria-controls="coll7">
                                        <h5>Can one request for replacement/repair for aids/assistive devices provided?.</h5>
                                    </button>
                                </h2>
                                <div id="coll7" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li><strong>Yes.</strong></li>
                                            <li>1. contact the respective implementing agency that provided the aid. In case of ALIMCO, dial toll free no:- 1800-5990019.</li>
                                            <li>2. Beneficiaries can also send their grievance online through this portal directly to the respective agency.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 8: coll8 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll8" aria-expanded="false" aria-controls="coll8">
                                        <h5>Where and how can one apply for aids/assistive device?</h5>
                                    </button>
                                </h2>
                                <div id="coll8" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ol class="list-style-type-square">
                                            <li>A. 1. Applicant can approach ALIMCO, National Institutes, CRCs, DDRCs and various implementing agencies (contact details can be seen from download section) with all requisite documents.</li>
                                            <li>B. 2. Applicant can directly apply on ADIP MIS portal by clicking on beneficiary registration tab. <a href="">(www.adip.disabilityaffairs.gov.in/ADIP/login).</a></li>
                                            <li>C. 3. Applicant can send request letter along with required documents in the given below address:-</li>
                                        </ol>
                                        <p><strong>Ministry of Social Justice and Empowerment </strong></p>
                                        <p><strong>Department of Empowerment of Persons with Disabilities</strong></p>
                                        <p><strong>Pt Deendayal Antyodaya Bhawan, 5th floor, CGO complex, Lodhi Road New Delhi-110003</strong></p>

                                    </div>
                                </div>
                            </div>
                            <!-- 9: coll9 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll9" aria-expanded="false" aria-controls="coll9">
                                        <h5>Where can one get the aids/assistive devices from?</h5>
                                    </button>
                                </h2>
                                <div id="coll9" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">

                                        <p>Artificial Limbs Manufacturing Corporation Of India (ALIMCO) and its RMC’s- Contact No. <strong>1800-599-0019</strong> and telephone No. <strong>01124369027</strong>. Nearest Camp organized for distribution of aids and assistive device under ADIP SchemeList of agencies is updated from time to time and can be downloaded from download section on home page.National Institutes under the Administrative control of the Department:</p>

                                        <ul class="list-style-type-square">
                                            <li>1. National Institutes for the Empowerment of Persons with Visual Disabilities (Dehradun)</li>
                                            <li>2. Ali Yavar Jung National Institute Of Speech And Hearing Disabilities (Mumbai)</li>
                                            <li>2. National Institute For Locomotor Disabilities (Kolkatta)</li>
                                            <li>2. National Institute for Empowerment of Persons with Multiple Disabilities (Chennai)</li>
                                            <li>2. Pt. Deendayal Upadhyaya National Institute For Persons with Physical Disabilities (New Delhi)</li>
                                            <li>2. National Institute for the Empowerment of Persons with Intellectual Disabilities (Secundrabad)</li>
                                            <li>2. Swami Vivekanand National Institute of Rehabilitation Training and Research (Cuttack)</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 10: coll10 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll10" aria-expanded="false" aria-controls="coll10">
                                        <h5>How to get disability certificate?</h5>
                                    </button>
                                </h2>
                                <div id="coll10" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. As per provision of the RPwD Act, Disability Certificate will be issued by the prescribed Medical Authority.</li>
                                            <li>2. Responsibility for issue of a Joint disability Certificate for availing the benefits under the ADIP-SSA will be that of a :</li>
                                        </ul>

                                        <p><strong>(a) Headmaster or Principal of the School</strong></p>
                                        <p><strong>(b) Government Doctor of Government Primary Health Centres (PHCs) or Community Health Centres (CHCs)</strong></p>
                                        <p><strong>(c) Local SSA Authority and</strong></p>
                                        <p><strong>(d) representatives of ALIMCO.</strong></p>
                                    </div>
                                </div>
                            </div>

                            <!-- 11: coll11 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll11" aria-expanded="false" aria-controls="coll11">
                                        <h5>How can a beneficiary register themselves online on ADIP web portal for aids/assistive device?</h5>
                                    </button>
                                </h2>
                                <div id="coll11" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. By clicking on Beneficiary registration button on the home page of the ADIP portal.</li>
                                            <li>2. A beneficiary should select a appropriate agency from the list of implementing agencies and fill necessary details alongwith required documents. Beneficiary will receive a confirmation message on successful registration. Beneficiaries can contact the respective agency for further details</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 12: coll12 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll12" aria-expanded="false" aria-controls="coll12">
                                        <h5>Which agency shall I select?</h5>
                                    </button>
                                </h2>
                                <div id="coll12" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. Please select appropriate agency based on your disability and location.</li>
                                            <li>2. You shall select ALIMCO for <strong>Motorized Tricycle</strong> and Ali Yavar Jung National Institute for Speech and Hearing Disabilities for <strong>Cochlear Implant</strong>.</li>
                                        </ul>

                                        <table><tbody><tr><th class="w">No.</th><th>Agency</th><th>States Covered</th></tr><tr><td>1.</td><td>ALIMCO</td><td>1. Kanpur, Uttar Pradesh, 2. New Delhi, Delhi, 3. Navi Mumbai, Maharashtra, 4. Kolkata, West Bengal, 5. Bangalore, Karnataka, 6. Bhubaneshwar, Odisha, 7. Jabalpur, Madhya Pradesh, 8. Secundrabad, Telengana, 9. Guwahati, Assam, 10. Mohali, Punjab, 11. Ujjain, Madhya Pradesh, 12. Faridabad, Haryana</td></tr><tr><td>2.</td><td>Ali Yavar Jung National Institute for Speech and Hearing Disabilities</td><td>1. Mumbai, Maharashtra, 2. Noida, Uttar Pradesh, 3. Janla, Odisha, 3. Kolkata, West Bengal, 4. Secundrabad, Telengana 5. Bhopal, Madhya Pradesh, 6. Ahmedabad, Gujarat, 7. Nagpur, Maharashtra</td></tr><tr><td>3.</td><td>National Institute for Empowerment of Persons with Intellectual Disabilities</td><td>1. Secundrabad, Telengana 2. Noida, Uttar Pradesh, 3. New Delhi, Delhi, 4. Kolkata, West Bengal, 5. Navi Mumbai, Maharashtra, 6. Nellore, Andhra Pradesh, 7. Davanger, Karnaatka, 8. Rajnandagaon, Chhatisgarh</td></tr><tr><td>4.</td><td>National Institute for Empowerment of Persons with Multiple Disabilities</td><td>1. Chennai, Tamil Nadu, 2. Kozhikode, Kerala, 3. Port Blair, Andaman and Nicobar, 4. Shilong, Meghalaya</td></tr><tr><td>5.</td><td>National Institute for Empowerment of Persons with Visual Disabilities</td><td>1. Dehradun, Uttarakhand, 2. Sundernagar, Himachal Pradesh, 3. Gorakhpur, Uttar Pradesh, 4. Ganktok, Sikkim, 5. Kolkata, West Bengal, 6. Secundrabad, Telengana, 6. Chennai, Tamil Nadu</td></tr><tr><td>6.</td><td>National Institute for Locomotor Disabilities</td><td>1. Kolkata, West Bengal, 2. Patna, Bihar, 3. Nahanaghun, Arunachal Pradesh, 4. Dehradun, Uttrakhand, 5. Aizawal, Mizoram</td></tr><tr><td>7.</td><td>Pt. Deendayal Upadhaya National Institute for Persons with Physical Disabilities</td><td>1. New Delhi, Delhi, 2. Srinagar, J&amp;K, 3. Lucknow, Uttar Pradesh, 4. Karnal, Haryana 5. Tonk, Rajasthan, 6. Secundrabad, Telengana</td></tr><tr><td>8.</td><td>Swami Vivekanand National Institute for Rehabilitation Training and Research</td><td>1. Cuttack, Odisha, 2. Manipur, 3. Balangir, Odisha, 4. Ranchi, Jharkhand, 5. Guwahati, Assam</td></tr></tbody></table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="w-lg-50 mx-auto tabs2">
                        <div class="accordion accordion-flush" id="accordionExample">
                            <!-- 1: coll1 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#coll1" aria-expanded="true" aria-controls="coll1">
                                        <h5>What is UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        UDID Card or Unique Disability Identity card is an initiative by Government of India with a view of creating a National Database for PwDs, and to issue a Unique Disability Identity Card  to each person with disabilities. This aims to encourage transparency, eﬃciency and ease of delivering the government beneﬁts to the person with disabilities, and to ensure uniformity. This will help in stream-lining the tracking of physical and ﬁnancial progress of beneﬁciary at all levels of hierarchy of implementation – from village level, block level, District level , State level and National level.
                                    </div>
                                </div>
                            </div>

                            <!-- 2: coll2 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll2" aria-expanded="false" aria-controls="coll2">
                                        <h5>Who can apply for UDID Card and where to apply for UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Any citizen of India with full/partial disability can apply for UDID card at the website- <a href="https://www.swavlambancard.gov.in/" target="_blank"> https://www.swavlambancard.gov.in/ </a>
                                    </div>
                                </div>
                            </div>

                            <!-- 3: coll3 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll3" aria-expanded="false" aria-controls="coll3">
                                        <h5> What are the documents required for applying for the UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>A coloured photo, Disability Certiﬁcate (If already has) and Address Proof.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 4: coll4 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll4" aria-expanded="false" aria-controls="coll4">
                                        <h5>What should be the document size and format to be uploaded while applying in UDID portal for Disability certificate and UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p><strong>Photo of applicant– Size:</strong> 15-100 KB, and  <strong>Format:</strong> jpeg, jpg, gif and png</p>
                                        <p><strong>Signature of applicant– Size:</strong> 3-30 KB, and  <strong>Format:</strong> jpeg, jpg, gif and png</p>
                                        <p><strong>Address proof– Size:</strong> 10-500 KB , and  <strong>Format:</strong> jpeg, jpg, gif and png</p>
                                        <p><strong>Disability certiﬁcate– Size:</strong> 0-500 KB , and  <strong>Format:</strong> jpeg, jpg, gif and png</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 5: coll5 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll5" aria-expanded="false" aria-controls="coll5">
                                        <h5>How many digits/characters are there in the UDID Card?</h5>
                                    </button>
                                </h2>
                                <div id="coll5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The UDID card has a total of 18 digits/characters. The ﬁrst 2 characters represent State Code, next 2 digits for district code, next 1 digit for CMO code, next 2 digits for disability type, next 4 digits for year of birth of PwD, following 6 digits for running number and the last digit for check sum which is involved for security reason.
                                    </div>
                                </div>
                            </div>

                            <!-- 6: coll6 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll6" aria-expanded="false" aria-controls="coll6">
                                        <h5>What is the validity of UDID Card?</h5>
                                    </button>
                                </h2>
                                <div id="coll6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        he UDID card has two types of validity- Permanent UDID card and Temporary UDID Card.
                                        <ul class="list-style-type-square">
                                            <li>1. <strong>Permanent UDID:</strong> The competent medical authority issues Permanent UDID Card considering there is no progress or regress in the disability of a</li>
                                            <li>2. <strong>Temporary UDID:</strong> The competent medical authority issues Temporary UDID Card considering there is a progress or a regress in the disability of a</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 7: coll7 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll7" aria-expanded="false" aria-controls="coll7">
                                        <h5>What to do when my UDID card validity expires?</h5>
                                    </button>
                                </h2>
                                <div id="coll7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>In case the validity of a temporary UDID card expires, the PwD needs to apply for renewal of UDID card through the portal- <a href="https://www.swavlambancard.gov.in/" target="_blank"> https://www.swavlambancard.gov.in/ </a></p>
                                    </div>
                                </div>
                            </div>

                            <!-- 8: coll8 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll8" aria-expanded="false" aria-controls="coll8">
                                        <h5>What are the types of UDID Card?</h5>
                                    </button>
                                </h2>
                                <div id="coll8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Three types of coloured based UDID Cards are issued based on the severity of the disability-</p>

                                        <p>1. <strong>White Card:</strong> When the disability percentage of a PwD is below 40%</p>
                                        <p>2. <strong>Yellow Card:</strong> When the disability percentage of a PwD is above 40% but on or below 80%</p>
                                        <p>3. <strong>Blue Card:</strong> When the disability percentage of a PwD is above 80%</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 9: coll9 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll9" aria-expanded="false" aria-controls="coll9">
                                        <h5>What is the process of UDID Card generation?</h5>
                                    </button>
                                </h2>
                                <div id="coll9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>The following steps are involved-</p>

                                        <p>1. The PwD needs to apply through the portal for a fresh UDID card or for a renewal of UDID card in case of temporary UDID card has been</p>
                                        <p>2. The application reached to the notiﬁed Chief Medical Oﬃcer (CMO) or District Medical Oﬃcer (DMO) of the PwD’s resident district as the case may</p>
                                        <p>3. Post veriﬁcation of application, CMO/DMO assigns specialist doctors for assessment of the verified</p>
                                        <p>4. The specialist doctor assesses the PwD on a given date and submits the assessment report to the medical</p>
                                        <p>5. The Medical Board takes decision on the percentage and type of disability, validity of disability certiﬁcate and other such issues of the PwD. The medical board informs of its decision to the concerned CMO/DMO.</p>
                                        <p>6. Based on the assessment details ﬁlled by the CMO/DMO, a UDID card is generated. The card is then dispatched to the PwD through Speed Post by the</p>

                                    </div>
                                </div>
                            </div>

                            <!-- 10: coll10 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll10" aria-expanded="false" aria-controls="coll10">
                                        <h5>Is there any guidelines issued to the Doctors for assessment disability?</h5>
                                    </button>
                                </h2>
                                <div id="coll10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Yes, the department has issued  assessment  guidelines  which  are available  on  the  web  portal  of  UDID <a href="https://www.swavlambancard.gov.in/" target="_blank"> (https://www.swavlambancard.gov.in/ </a>)   and  of the Department (https://disabilityaffairs.gov.in/ ).</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 11: coll11 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll11" aria-expanded="false" aria-controls="coll11">
                                        <h5>How can I know about the medical authority/ hospital assigned to me for assessment? What do I need to do after assessment?</h5>
                                    </button>
                                </h2>
                                <div id="coll11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>The  details  of  the  medical  authority/hospital  assigned  to  the  PwD  for assessment is available on the receipt generated by UDID portal.</p>
                                        <p>The PwD needs to approach assigned medical authority/ hospital for further process.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 12: coll12 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll12" aria-expanded="false" aria-controls="coll12">
                                        <h5>What is the process of updation, modiﬁcation or changes in the application or in the UDID Card?</h5>
                                    </button>
                                </h2>
                                <div id="coll12" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>It is desired that the PwD ﬁlls the application form carefully. In case any  changes/  modiﬁcations  are  required  in  the  application  form,  the PwD should contact the CMO/DMO of the concerned district.</p>
                                        <p>Also, in case the UDID is generated and received, the concerned CMO/DMO should be approach with proper documents by the PwD for correction/ modification/ changes in the UDID card.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 13: coll13 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll13" aria-expanded="false" aria-controls="coll13">
                                        <h5>I have a disability certificate, what should I do?</h5>
                                    </button>
                                </h2>
                                <div id="coll13" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>PwD already having a Disability Certiﬁcate has to apply on the UDID portal (www.swavlambancard.gov.in) by choosing the option “<strong>Yes</strong>” in the option “<strong>Do you have disability Certiﬁcate</strong>” in the  application form. The medical authority may decide the requirement of reassessment of disability in this case.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 14: coll14 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll14" aria-expanded="false" aria-controls="coll14">
                                        <h5>Is the UDID Card linked to Digilocker?</h5>
                                    </button>
                                </h2>
                                <div id="coll14" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Yes, the UDID cards have been linked to Digilocker in October 2020.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 15: coll15 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll15" aria-expanded="false" aria-controls="coll15">
                                        <h5>Who are the Medical Issuing Authority and District Social Welfare Officer?</h5>
                                    </button>
                                </h2>
                                <div id="coll15" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>The Medical Issuing Authority is the competent medical oﬃcer (CMO/CHMO/CDMO/Civil Surgeon) for a district authorized to issue Disability Certificates.</p>
                                        <p>District Social Welfare Oﬃcer (DSW) is the district level oﬃcer who handles  the  Social  Welfare  /  Social  Justice  department  of  the  states. The DSW looks after the issues of schemes and beneﬁts available for PwD.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 16: coll16 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll16" aria-expanded="false" aria-controls="coll16">
                                        <h5>How will the UDID card be delivered to the PwD? Is there any timeline for delivering UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll16" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Once the UDID card is generated, it will be delivered to the PwD through Speed Post. The PwD can track the UDID card with the consignment number shown on the portal.</p>
                                        <p>However, no such timeline is ﬁxed for the delivery of UDID card but as soon as UDID card is generated by concerned medical authority, the plastic UDID card is dispatched to the PwD through Speed Post.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 17: coll17 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll17" aria-expanded="false" aria-controls="coll17">
                                        <h5>Can a PwD get his UDID card generated in different states or districts?</h5>
                                    </button>
                                </h2>
                                <div id="coll17" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            As per rule, the PwD can get his UDID card generated from his resident
                                            district or from the notiﬁed government hospitals where they are undergoing treatment.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 18: coll18 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll18" aria-expanded="false" aria-controls="coll18">
                                        <h5>How does a PwD get benefited through the UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll18" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p><strong>Access to government schemes and beneﬁts:</strong> The UDID card is recognized as a proof of disability by the government of India. This means that PwDs can use their UDID card to access various government schemes and beneﬁts such as ﬁnancial assistance, healthcare services, education, and employment.</p>
                                        <p><strong>Easy identiﬁcation:</strong> The UDID card provides a unique identiﬁcation number to each PwD. This helps in easy identiﬁcation of the person with disability and ensures that they receive the right  kind  of assistance and support.</p>
                                        <p><strong>Accessibility:</strong> The UDID card contains information about the type and level of disability of the person. This information can be used to make public places and transportation more accessible for PwDs.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 19: coll19 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll19" aria-expanded="false" aria-controls="coll19">
                                        <h5>Whom should I contact if I am not called for medical assessment?</h5>
                                    </button>
                                </h2>
                                <div id="coll19" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>The PwD should contact the CMO/DMO/Medical in Charge of the concerned district in which his/her UDID Application is submitted.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 20: coll20 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll20" aria-expanded="false" aria-controls="coll20">
                                        <h5>How do I know, when will I be called for medical assessment?</h5>
                                    </button>
                                </h2>
                                <div id="coll20" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>An SMS will be sent to the mobile number of the PwD mentioning date of assessment and name of hospital. In case, the PwD did not mention the mobile number in the UDID application, they should approach the concerned CMO of the district.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 21: coll21 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll21" aria-expanded="false" aria-controls="coll21">
                                        <h5>I have disability certiﬁcate issued manually. Do I have to undergo medical assessment?</h5>
                                    </button>
                                </h2>
                                <div id="coll21" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>In this case, the medical authority may decide the requirement of reassessment of disability.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 22: coll22 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll22" aria-expanded="false" aria-controls="coll22">
                                        <h5>
                                            Where can I read guidelines of medical assessment issued in 2017 and 2018?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll22" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>Go  to  the  UDID  portal<a href="https://www.swavlambancard.gov.in/" target="_blank"> (https://www.swavlambancard.gov.in/ </a>),  next  in the “<i>Circular</i>” sub-section of the “<i>Media Gallery</i>” Section, one can ﬁnd government guidelines and Acts pertaining to disability.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 23: coll23 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll23" aria-expanded="false" aria-controls="coll23">
                                        <h5>
                                            What is the role of state coordinator?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll23" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>The State Coordinator is assigned to States/UTs to work on the smooth implementation  of  UDID  project  in  the  states/UTs.  His/  Her  roles  are following-</p>
                                        <p>Coordination with all concerned departments of the State and the Project Management Unit of UDID project in the Department in implementation of project.</p>
                                        <p>Monitoring of project progress, maintain project schedule and resolve problems arising out implementation of the project in the state.</p>
                                        <p>Preparation of project status report by collecting and analysing data/information   from   each   village/block/district   in   the   state   and submit the same  to  the  Principal  Secretary  (Social  Welfare Department)/ Oﬃcer in charge of UDID project in the state and copy to Department (DEPwD).</p>
                                        <p>To assist state government in conducting camps for enrolment/assessmen</p>
                                        <p>whenever organised with due support from the District administration.</p>
                                        <p>Escalate any major issues in the project roll-out to Nodal Authorities/officer-in-charge at the State level and Centre.</p>
                                        <p>Any other duties/responsibilities assigned to him/her by the concerned state in implementation of UDID project.</p>
                                        <p>The State Coordinator will report to the Principal Secretary of the State dealing with Social justice/Disabilities. His/her appointment will be full time basis (100% involvement).</p>
                                        <p>The    Principal    Secretary    of    the    State/UT    dealing    with    Social Welfare/disabilities    will    provide    logistic    support    to    the    State Coordinator.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 24: coll24 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll24" aria-expanded="false" aria-controls="coll24">
                                        <h5>
                                            Whom should I write if I am not issued a UDID card despite long wait?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll24" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>The PwD should contact the CMO/DMO/Medical in Charge of the concerned district in which his/her UDID Application is submitted</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 25: coll25 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll25" aria-expanded="false" aria-controls="coll25">
                                        <h5>
                                            Typically, how long time it takes to get medical assessment call after filling online form?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll25" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            As on date, there is no ﬁx timeline for getting medical assessment call from the concerned hospital. However, number of application  in waitlist and availability of specialist doctors play key factor in getting early call for assessment.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 26: coll26 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll256" aria-expanded="false" aria-controls="coll26">
                                        <h5>
                                            Can I ﬁll online form myself or I have to take help of any office?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll26" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The PwD can fill it by themselves or take help from anyone.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 27: coll27 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll27" aria-expanded="false" aria-controls="coll27">
                                        <h5>
                                            Are CSC authorised to fill form for me? At what fees?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll27" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Yes. As per MoU signed between DEPwD and CSC, the CSC can charge only 10 rupees per application.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 28: coll28 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll28" aria-expanded="false" aria-controls="coll28">
                                        <h5>
                                            Will I get a message indicating speed post tracking number after UDID card is issued to me?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll28" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            No. The PwD has to get his/her speed tracking number from the UDID portal once the card is dispatched for delivery.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 29: coll29 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll29" aria-expanded="false" aria-controls="coll29">
                                        <h5>
                                            Can I approach card printing agency if I do not get UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll29" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            No. The PwD should raise a complaint with DEPwD or with State Coordinator to get UDID card delivered.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 30: coll30 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll30" aria-expanded="false" aria-controls="coll30">
                                        <h5>
                                            Which departments of central and state government giving benefits to PwDs who have UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll30" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The Department of Empowerment of Persons with Disabilities (Divyangjan) at central level and Social Welfare Department dealing with disability at state level are concerned authorities who issue benefits to PwD having UDID card.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 31: coll31 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll31" aria-expanded="false" aria-controls="coll31">
                                        <h5>
                                            Can I see the list of schemes whose beneﬁts are extended to me on bearing a UDID number?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll31" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            As of now, there are no such provisions in a centralized version. The PwD has to check with the concerned departments at Central and State level.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 32: coll32 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll32" aria-expanded="false" aria-controls="coll32">
                                        <h5>
                                            If my disability is less than 40 percent, still any use of UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll32" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            As per notification issued by DEPwD on 16th December, 2022-
                                        </p>
                                        <p>All  our  NIs  and  CRCs,  Registration/Diagnostic  Treatment  Fee  may  be waived off for UDID card holders, as well as for those who have disability certiﬁcate and have got enrolled on UDID portal, irrespective of percentage (%) of disability, w.e.f. 1st January, 2023.</p>
                                        <p>
                                            Full course fee may be waived off for those students of various courses

                                            at our NIs and CRCs, who are UDID card holders, as well as for those who have disability certiﬁcate and have got enrolled on UDID portal, irrespective of percentage (%) of disability. This should be done for 2022-23 batch students onwards (including those who are doing two year or more courses and are in their 2nd/3rd/4th year.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 33: coll33 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll33" aria-expanded="false" aria-controls="coll33">
                                        <h5>
                                            What facilities can I avail in National Institutes of DEPwD if I have a valid UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll33" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            All  our  NIs  and  CRCs,  Registration/Diagnostic  Treatment  Fee  may  be waived off for UDID card holders, as well as for those who have disability certiﬁcate and have got enrolled on UDID portal, irrespective of percentage (%) of disability, w.e.f. 1st January, 2023.
                                        </p>
                                        <p>Full course fee may be waived off for those students of various courses at our NIs and CRCs, who are UDID card holders, as well as for those who have disability certiﬁcate and have got enrolled on UDID portal, irrespective of percentage (%) of disability. This should be done for 2022-23 batch students onwards (including those who are doing two year or more courses and are in their 2nd/3rd/4th year.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 34: coll34 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll34" aria-expanded="false" aria-controls="coll34">
                                        <h5>
                                            What is validity period of UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll34" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The UDID card has two types of validity- Permanent UDID card and Temporary UDID Card.
                                        </p>
                                        <p><strong>Permanent UDID:</strong> The competent medical authority issues Permanent UDID Card considering there is no progress or regress in the disability of a PwD.</p>
                                        <p><strong>Temporary UDID:</strong> The competent medical authority issues Temporary UDID Card considering there is a progress or a regress in the disability of a PwD.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- 35: coll35 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll35" aria-expanded="false" aria-controls="coll35">
                                        <h5>
                                            How many disabilities are recognised by UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll35" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            UDID recognises 21 types of disabilities as mentioned in RPwD Act 2016.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 36: coll36 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll36" aria-expanded="false" aria-controls="coll36">
                                        <h5>
                                            Is AADHAAR number mandatory for issue of UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll36" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            As of now, AADHAAR is not mandatory for issuance of UDID card.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 37:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll37" aria-expanded="false" aria-controls="coll37">
                                        <h5>
                                            What are contact numbers in central Ministry (DEPwD) if my grievance is not resolved by state coordinator and CMO office?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll37" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            If the grievance of PwD is not resolved by state coordinator and CMO oﬃce, the PwD can submit their grievance by calling at <strong>011- 24365019, +91 93549 39703</strong> or by email at <strong><a href="mailto:disability-udid@gov.in"> disability-udid@gov.in </a></strong>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 38:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll38" aria-expanded="false" aria-controls="coll38">
                                        <h5>
                                            Can I see pendency of UDID assessment with my district CMO and my waitlist number in CMO oﬃce for assessment on portal?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll38" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The PwD can check the status of their UDID application at the UDID portal but to check the waitlist number of assessment, they have to approach the concerned CMO/DMO/Medical in charge of the district.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 39:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll39" aria-expanded="false" aria-controls="coll39">
                                        <h5>
                                            Can I choose hospital of my choice for assessment?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll39" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            If the concerned district has more than one notiﬁed government hospitals for assessment then the PwD has the option to choose according to their choice.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 40:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll40" aria-expanded="false" aria-controls="coll40">
                                        <h5>
                                            Can I change hospital’s name if there is more than 1 hospital in my district which are authorised by state govt for UDID assessment?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll40" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Yes. The PwD has the option to do that while ﬁlling the  UDID application in this case.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 41:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll41" aria-expanded="false" aria-controls="coll41">
                                        <h5>
                                            Can I edit my UDID application, if I ﬁlled some wrong or incomplete info? Can I edit my application after assessment is done?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll41" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Yes,  the  PwD  can  edit  his/her  application  till  it  is  in  submitted  mood. Once the CMO/DMO/Medical in charge takes action against the submitted application (verify the UDID application), the PwD cannot edit it. He/she needs to approach the concerned medical authority to edit the application in this case.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 42:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll42" aria-expanded="false" aria-controls="coll42">
                                        <h5>
                                            I want to update my AADHAAR number in my UDID database for better services, how can I do?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll42" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            As of now, this service is not available in our portal. To do any kind of changes/updates or modiﬁcations of the UDID card, the PwD needs to approach the concerned medical authority (CMO/DMO/Medical in charge) of the district.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 43:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll43" aria-expanded="false" aria-controls="coll43">
                                        <h5>
                                            I have lost my UDID receipt copy and forget the enrolment number, how can I get my receipt copy of UDID application?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll43" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The    PwD     has    to    go    to    the <strong>“Home”</strong> page    of    UDID     portal (https:// <a href="https://www.swavlambancard.gov.in/" target="_blank">www.swavlambancard.gov.in/ </a>) and    select  <strong>“Track        Your Application Status”</strong>. At <i>“Track Your Application Status”,</i> the PwD  has to enter <strong>Enrolment / UDID / Request Number / Mobile Number / Aadhar  Number</strong> and click on <strong>“Go”</strong>. By doing so, the Enrolment number will be visible. Get the Enrolment Number and go to the <strong>“Login”</strong> option of <strong>“Home Page”</strong>. At the <strong>Login</strong> option, the PwD has to enter the <strong>Enrolment Number, Date  of  Birth  and  Captcha  Code</strong> for login. Once logged in, the PwD can download his/her receipt copy.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- 44:  -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll44" aria-expanded="false" aria-controls="coll44">
                                        <h5>
                                            What is the procedure to follow if I misplace/lose my UDID card?
                                        </h5>
                                    </button>
                                </h2>
                                <div id="coll44" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The PwD needs to apply for “Lost UDID Card” through the UDID portal.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="viewalljobs">
                        <h3>Have a question not covered in the FAQ?</h3>
                        <a href="Contactus">Contact us</a>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>

